@use "sass:map";
@use "../../abstracts/themes" as *;
@use "../mixins/map-get" as utils;

$theme-map: null;

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: $map !global;

      @content;

      $theme-map: null !global;
    }
  }
}

@function themed($path) {
  @if $theme-map == null {
    @error "themed(): No active theme map. Use inside themify().";
  }
  @return utils.get($theme-map, $path);
}
