@mixin useAlign() {
  &-horizontal {
    &-start {
      &.group_orientation-horizontal {
        justify-content: flex-start;
      }
      &.group_orientation-vertical {
        align-items: flex-start;
      }
    }

    &-center {
      &.group_orientation-horizontal {
        justify-content: center;
      }
      &.group_orientation-vertical {
        align-items: center;
      }
    }

    &-end {
      &.group_orientation-horizontal {
        justify-content: flex-end;
      }
      &.group_orientation-vertical {
        align-items: flex-end;
      }
    }
  }

  &-vertical {
    &-start {
      &.group_orientation-horizontal {
        align-items: flex-start;
      }
      &.group_orientation-vertical {
        justify-content: flex-start;
      }
    }

    &-center {
      &.group_orientation-horizontal {
        align-items: center;
      }
      &.group_orientation-vertical {
        justify-content: center;
      }
    }

    &-end {
      &.group_orientation-horizontal {
        align-items: flex-end;
      }
      &.group_orientation-vertical {
        justify-content: flex-end;
      }
    }
  }
}
