@font-face {
  font-family: "Caros";
  src: url("@/assets/fonts/caros/caros-thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("@/assets/fonts/caros/caros-light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("@/assets/fonts/caros/caros.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("@/assets/fonts/caros/caros-menium.woff2") format("woff2");

  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("@/assets/fonts/caros/caros-bold.woff2") format("woff2");

  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
