@use "sass:map";

@use "../../abstracts/typography" as *;
@use "../../core/" as *;

// Generate typography extends:

@mixin generateStyles($map: map.get($typography, "styles")) {
  @each $k, $v in $map {
    $nestedMap: $v;

    &__#{$k} {
      @each $key, $value in $v {
        $result: $value;

        @if $key == "font-size" or $key == "letter-spacing" {
          #{$key}: px2em($result);
        } @else {
          #{$key}: $result;
        }
      }
    }
  }
}

%t {
  @include generateStyles();
}

@mixin defineTypography($map: $display, $weight) {
  $typo-verion: map.get($map, -#{$weight});

  @each $key, $value in $typo-verion {
    #{$key}: $value;
  }
}
