@mixin defineFont() {
  @for $i from 2 through 8 {
    $weight: $i * 100;

    @font-face {
      font-family: "Manrope";
      src:
        url("@/assets/fonts/manrope/manrope-cyrillic-#{$weight}-normal.woff2")
          format("woff2"),
        url("@/assets/fonts/manrope/manrope-cyrillic-#{$weight}-normal.woff")
          format("woff");
      font-weight: $weight;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "Manrope";
      src:
        url("@/assets/fonts/manrope/manrope-latin-#{$weight}-normal.woff2")
          format("woff2"),
        url("@/assets/fonts/manrope/manrope-latin-#{$weight}-normal.woff")
          format("woff");
      font-weight: $weight;
      font-style: normal;
      font-display: swap;
    }
  }
}

@include defineFont();
