@use "../design-system/assets/scss/app.abstracts.scss" as *;
@use "../design-system/assets/scss/core/mixins/themify" as *;
@use "../design-system/assets/scss/core/mixins/box" as *;

.storybook {
  &-main-container {
    position: relative;
    @include box(100%);
  }
}

.docs-story,
.storybook-root,
.storybook-main-container {
  @include themify($themes) {
    background-color: themed("abstracts.background.primary");
  }
}

.storybook-main-container {
  box-sizing: border-box;
  position: relative;
  padding: 2em;
  overflow: hidden;
}

/* * * Reset styles * * */

.sb-show-main.sb-main-padded {
  padding: 0;
}
